@model IEnumerable<WorkingEquitation.Models.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MeetingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassCrewId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassCrewId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassId })
        </td>
    </tr>
}

</table>
