@model WorkingEquitation.Models.Rider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Horse.HorseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horse.HorseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClubTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClubTeam)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
